.image-settings-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;

}

.image-settings-alignment-options{
    display: flex;
}

.image-settings-alignment-option{
    padding: 4px;
}

.image-settings-alignment-option.active{
    border: 2px solid #b0d2ef;
}